@media (max-width: 700px) {
    
    body{
        width: 100% !important;
    }

    .hero{
        width: 100% !important;
    }
    .nav-mobile{
        width: 100% !important;
    }
    
    .about{
        display: block;
        width: 90%;
    }
    .about-img{
        margin-left: 0px;
    }

    .img-about{
        width: 100%;
    }

    .influen{
        display: block;
        margin: 0px;
    }
    .influen-div{
        margin: 0px;
        width: 100%;
    }
    .influen-div1{
        margin: 0px;
        width: 100%;
    }
    h2{
        width: 80%;
        font-size: 30px;
        align-items: center;
    }
    .div-p{
        width: 90%;
        padding-left: 2%;
    }
    .img-red{
        width: 100%;
    }
    .footer{
        display: block;
    }
    .info{
        margin: 0px;
        text-align: center;
    }
    .why{
        margin: 0px;
        text-align: center;
    }
    .div-email{
        margin: 0px;
        text-align: center;
    }

    .menbr{

        background-image: none;
        padding-left: 5%;
    }
    .div-membre-texto{

        display: block;

    }

    .titulo{
        padding-top: 10%;
        width: 92%;
    }

    .div-precio{
        width: 92%;

    }

    .div-precio-h2{

        width: 15%;
        margin-bottom: 15%;
    }

   
    .div-opcion{
        width: 92%;
    }

    .div-opcion-infe{

        width: 92%;
    }

    .div-opcion1{
        width: 92%;
    }

    .div-opcion-infe1{

        width: 92%;
    }

    .div-opcion2{
        width:92%;
    }

    .div-opcion-infe2{

        width: 92%;
    }

    .total1{

        width: 92%;

    }


  
}


@media only screen and (min-width:361px) and (max-device-width:375px)
{
    .titulo{
        padding-top: 10%;
        width: 88%;
    }

    .div-precio{
        width: 88%;

    }

    .div-precio-h2{

        width: 15%;
        margin-bottom: 15%;
    }

    .div-h6-titulo{
        width: 88%;
    }
    .div-opcion{
        width: 88%;
    }

    .div-opcion-infe{

        width: 88%;
    }

    .div-opcion1{
        width: 88%;
    }

    .div-opcion-infe1{

        width: 88%;
    }

    .div-opcion2{
        width: 88%;
    }

    .div-opcion-infe2{

        width: 88%;
    }

    .total{

        width: 88%;

    }
    .total1{

        width: 88%;

    }

    .total2{

        width: 88%;

    }
}

}

@media only screen and (min-width:200px) and (max-device-width:360px)
{
    
}


@media only screen and (min-width:376px) and (max-device-width:411px)
{
    .titulo{
        padding-top: 10%;
        width: 80%;
    }

    .div-precio{
        margin-top: 15%;
        width: 80%;

    }

    .div-precio-h2{

        width: 15%;
        margin-bottom: 15%;
    }

    .div-h6-titulo{
        width: 80%;
    }
    .div-opcion{
        width: 80%;
    }

    .div-opcion-infe{

        width: 80%;
    }

    .div-opcion1{
        width: 80%;
    }

    .div-opcion-infe1{

        width: 80%;
    }

    .div-opcion2{
        width: 80%;
    }

    .div-opcion-infe2{

        width: 80%;
    }

    .total{

        width: 80%;

    }

    .total1{

        width: 80%;

    }

    .total2{

        width: 80%;

    }
}

